## Function:

- Question 1 (square numbers): 
    - Write a function that will print a list of squared numbers from 1 to 30.

    - The result should look like this:
        ```py
            [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]
        ```

In [3]:
def make_square():
    
    sq_lst = []
    
    for i in range(1, 31):
        sq_lst.append(i**2)
    
    print(sq_lst)

make_square()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

## Function:

- Question 2 (find common elements): 
    - Write a function that can accept 2 lists and this function will return a dictionary containing the common elements in both lists.

    - The result should look like this:

        ```py
            {2, 4, 6, 8}
        ```

In [4]:
lst1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
lst2 = [2, 4, 6, 8]

In [7]:
def find_common_elements(lst1, lst2):
    
    return set(lst1) & set(lst2)

find_common_elements(lst1, lst2)

{2, 4, 6, 8}

## Function:

- Question 3(find unique values): 
    - Write a function to take a list as an argument and return a dictionary which contains unique values from the input list.
    - the result should look like this:
    ```py
        {1, 2, 3, 4, 5, 6, 9}
    ```

In [9]:
nums = [1,2,4,3,5,4,6,9,2,1]

In [11]:
def find_uniques(lst):
    
    return set(lst)

In [12]:
find_uniques(nums)

{1, 2, 3, 4, 5, 6, 9}

## Function:

- Question 4 (show elements in a list by indexing):
    - Write a function which takes a list as an argument and inside the function, you will use indices and `for` loop to print every element in the list.
    - the result should look like this:
    ```py
        10
        20
        30
        40
        50
        60
        70
        80
    ```

In [14]:
nums = [10,20,30,40,50,60,70,80]

In [15]:
def showing_elements(lst):
    
    for i in range(len(lst)):
        print(lst[i])

showing_elements(nums)

10
20
30
40
50
60
70
80

## Function:

- Question 5 (addition, min, and max):
    - Write a function which takes 2 input parameters, 1 is for taking a list, the other is to choose the operation type.
    - And there are 3 operation types, `addition`, `max`,  `min`
        - `addition`: the function will sum the whole list and return the result
        - `max`: the function will return the maximum value of the list and return the result
        - `min`: the funciton will return the minimum value of the list and return the result
    - call this function 3 times with different operation types
    - The result should look like this:
    ```py
        You choose: addition
        360
        You choose: max
        80
        You choose: min
        10
    ```

In [17]:
nums = [10,20,30,40,50,60,70,80]

In [21]:
def math_op(nums, operation_types):
    
    print(f"You choose: {operation_types}")
    if operation_types == "addition":
        return sum(nums)
    elif operation_types == "max":
        return max(nums)
    elif operation_types == 'min':
        return min(nums)
    else:
        return "check your input of operation_types parameter!"

In [22]:
math_op(nums, 'addition')

You choose: addition

360

In [23]:
math_op(nums, 'max')

You choose: max

80

In [24]:
math_op(nums, 'min')

You choose: min

10

## Function:

- Question 6 (show colors):
    - Write a function which has 2 parameters, 1 can take a list as an argument, and a default argument `first_three = True`.
    - If `first_three = True`, then this function will return the first 3 elements in the list.
    - If not, this function will return the last 3 elements in the list.
    - Call the function twice. For the firs time, you will let `first_three = True`, and the second time, overwrite the default
    - argument from `True` to `False`

    - The result should look like this:
    ```py
      ['Red', 'Blue', 'Green']
      ['Green', 'Black', 'White']
    ```

In [25]:
colors = ['Red', 'Blue', 'Green', 'Black', 'White']

In [26]:
def show_colors(lst, first_three = True):
    
    if first_three:
        return lst[:3]
    else:
        return lst[-3:]

In [27]:
show_colors(colors)

['Red', 'Blue', 'Green']

In [28]:
show_colors(colors, False)

['Green', 'Black', 'White']

## Function:

- Question 7 (remove duplicates from a dictionary):
    - Write a function that can take a dictionary as an argument and return a dictionary without duplicated key and value pairs.
    -  The result should look like this:
        ```py
            {'id1': {'name': ['Sara'],
            'class': ['V'],
            'subject_integration': ['english, math, science']},
            'id2': {'name': ['David'],
            'class': ['V'],
            'subject_integration': ['english, math, science']},
            'id4': {'name': ['Surya'],
            'class': ['V'],
            'subject_integration': ['english, math, science']}}
        ```

In [29]:
student_data = {'id1': 
                    {'name': ['Sara'], 
                        'class': ['V'], 
                        'subject_integration': ['english, math, science']
                    },
                    'id2': 
                    {'name': ['David'], 
                        'class': ['V'], 
                        'subject_integration': ['english, math, science']
                    },
                    'id3': 
                        {'name': ['Sara'], 
                        'class': ['V'], 
                        'subject_integration': ['english, math, science']
                    },
                    'id4': 
                    {'name': ['Surya'], 
                        'class': ['V'], 
                        'subject_integration': ['english, math, science']
                    },
                }

In [30]:
def remove_dupl_dict(data):
    
    new_dict = {}
    
    for k, v in data.items():
        if v not in new_dict.values():
            new_dict[k] = v
    
    return new_dict

In [31]:
remove_dupl_dict(student_data)

{'id1': {'name': ['Sara'],
  'class': ['V'],
  'subject_integration': ['english, math, science']},
 'id2': {'name': ['David'],
  'class': ['V'],
  'subject_integration': ['english, math, science']},
 'id4': {'name': ['Surya'],
  'class': ['V'],
  'subject_integration': ['english, math, science']}}

## Function:

- Question 8 (multiply values in a dictionary):
    - Write a function that can take a dictionary as an argument and multiply all the values in the dictionary.
    - The result should look like this:
    ```py
        -1333800
    ```

In [32]:
data = {'data1':100,'data2':-54,'data3':247}

In [33]:
def dict_multiply(data):
    
    m = 1
    
    for v in data.values():
        m *= v
    return m

In [34]:
dict_multiply(data)

-1333800

## Function:

- Question 9 (sum values from a dictionary):
    - Write a function that can take a dictionary as an arguement and it will return the summation of the values from key-value pairs

    - The result should look like this:
    ```py
      300
    ```

In [44]:
d1 = {'a': 100, 'b': 200}

In [46]:
def dict_sum(d1):
    
    total = 0
    for i in d1.values():
        total += i
    return total

dict_sum(d1)

300

## Function:

- Question 10 (combine 2 dictionaries and add the values for common keys):
    - Write a function that can take 2 dictionaries as arguments and it will return a combined dictionary.
      
    - The result should look like this:
    ```py
        {'a': 400, 'b': 400, 'c': 300, 'd': 400}
    ```

In [47]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

In [48]:
def new_dict(d1, d2):
    
    d3 = {}
    
    for k, v in d1.items():
        if k not in d3.keys():
            d3[k] = v
    
    for k, v in d2.items():
        if k not in d3.keys():
            d3[k] = v
        else:
            d3[k] += v
    
    return d3

In [49]:
new_dict(d1, d2)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}